<div id="faq-block-{{ section.id }} {{section.settings.faq_id}}" class="faq-block" style="background-color:{{section.settings.bg_color}}; padding:2em;">
  {%- if section.settings.faq_heading -%}
    <div class="container page-width text-center"><h4 class="text-subtitle">{{section.settings.faq_heading}}</h4></div>
  {%- endif -%}
  <div class="container page-width grid-main gap-20 grid-2 p-small">
  {%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'faq' -%}
    <div class="con faq-con">
      <h4 class="text-main" style="color:#1C7EE3;">{{block.settings.faq_title}}</h4>
      <p class="text-main" style="color:#262C96;">{{block.settings.faq_content}}</p>
    </div>
    {%- endcase -%}
  {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Custom FAQ Block",
  "tag": "section",
  "class": "section-wrapper",
  "settings": [
    {
      "type": "text",
      "id": "faq_heading",
      "label": "FAQ Section Heading"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "faq_id",
      "label": "Anchor Text"
    }
  ],
  "blocks": [
    {
      "type": "faq",
      "name": "FAQ",
      "settings": [
        {
          "type": "text",
          "id": "faq_title",
          "label": "FAQ Title",
          "default": "FAQ Title"
        },
        {
          "type": "textarea",
          "id": "faq_content",
          "label": "FAQ Content",
          "default": "Lorem Ipsum dolor ipusm lorem ipsum dolor."
        }
      ]
    }
  ],
  "presets": [
    {
      "name":"Custom FAQ Block",
      "blocks": [
        {
          "type": "faq"
        },
        {
          "type": "faq"
        },
        {
          "type": "faq"
        },
        {
          "type": "faq"
        }
      ]
    }
  ]
}
{% endschema %}