{%- if section.settings.fancy -%}
<div class="fancy-background">
{%- endif -%}
<div id="block-1{{ section.id }}" class="block-1">
  {%- if section.settings.direction -%}
	<div class="container page-width flex-main p-small flex-reverse">
  {%- else -%}
	<div class="container page-width flex-main p-small">
  {%- endif -%}
		<div class="col flex-50">
			<div class="image-con">
				<figure>
					{%- if section.settings.image_1 != blank -%}
					{% assign my_img = section.settings.image_1 %}
					{% render 'image-block', my_img: my_img %}
					{%- else -%}
						{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
					{%- endif -%}
				</figure>
			</div>
		</div>
		<div class="col flex-50 flex-main flex-center">
			<h3 class="text-subtitle fancyheader" style="color:{{section.settings.title_colour}};">{{section.settings.title}}</h3>
			<div class="content-wrapper flex-main" style="color:{{section.settings.text_colour}};">
				{%- for block in section.blocks -%}
					{%- case block.type -%}
						{%- when 'info' -%}
							<div class="col flex-50">
								{%- if block.settings.icon != blank -%}
								<div class="icon">
									{% assign my_img = block.settings.icon %}
									{% render 'image-block-svg', my_img: my_img %}
								</div>
								{%- endif -%}
								{%- if block.settings.heading != blank -%}
								<h4 class="text-main" style="color:{{section.settings.title_colour}}; margin-bottom: 7px;">{{ block.settings.heading }}</h4>
								{%- endif -%}
								{%- if block.settings.content != blank -%}
								<p class="text-main">{{ block.settings.content }}</p>
								{%- endif -%}
							</div>
					{%- endcase -%}
				{%- endfor -%}
			</div>
		</div>
	</div>
</div>
{%- if section.settings.fancy -%}
</div>
{%- endif -%}

{% schema %}
	{
		"name": "Custom Info Block 01",
		"tag": "section",
		"class": "wrapper",
		"settings": [
      {
        "type": "checkbox",
        "id": "direction",
        "label": "Reverse Section",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "fancy",
        "label": "Fancy Background",
        "default": false
      },
			{
				"type": "image_picker",
				"id": "image_1",
				"label": "Block Image"
			},
			{
				"type": "text",
				"id": "title",
				"label": "Title"
			},
			{
				"type": "color",
				"id": "title_colour",
				"label": "Title Colour",
				"default": "#000"
			},
			{
				"type": "color",
				"id": "text_colour",
				"label": "Text Colour",
				"default": "#000"
			}
		],
		"blocks": [
			{
				"type": "info",
				"name": "Info Block",
				"settings": [
					{
						"type": "url",
						"id": "icon",
						"label": "Icon"
					},
					{
						"type": "text",
						"id": "heading",
						"label": "Heading"
					},
					{
						"type": "textarea",
						"id": "content",
						"label": "content"
					}
				]
			}
		],
		"presets": [
			{
				"name":"Custom Info Block 01"
			}
		]
	}
{% endschema %}
