<div id="block-33-{{ section.id }}" class="block-33">
  <!-- <style>
    #block-33-{{ section.id }} .block-one > figure > img {
      object-position: {{section.settings.image_position}}!important;
    }
  </style> -->
  {%- if section.settings.direction -%}
  <div class="container page-width grid-main grid-2 gap-40 reversed">
  {%- else -%}
  <div class="container page-width grid-main grid-2 gap-40">
  {%- endif -%}
    <div class="col block-one">
      <figure>
        {% assign my_img = section.settings.image_1 %}
        {% render 'image-block', my_img: my_img %}
      </figure>
    </div>
    <div class="col block-two  flex-inner flex-center">
      {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'name' -%}
          <div class="item">
            <div class="item-heading"><h4 class="text-subtitle name" style="color:{{block.settings.title_color}}">{{block.settings.name_title}}</h4></div>
            {%- if block.settings.name_text_1 != blank -%}<p>{{block.settings.name_text_1}}</p>{%- endif -%}
            {%- if block.settings.name_text_2 != blank -%}<p>{{block.settings.name_text_2}}</p>{%- endif -%}
            {%- if block.settings.name_text_3 != blank -%}<p>{{block.settings.name_text_3}}</p>{%- endif -%}
          </div>
        {%- when 'about' -%}
          <div class="item">
            <div class="item-heading"><h4 class="text-main">{{block.settings.about_title}}</h4></div>
            <div class="item-content flex-main">
              <div class="item_item">
                <figure>
                  {% assign my_img = block.settings.about_url_1 %}
									{% render 'image-block-svg', my_img: my_img %}
                </figure>
                <div class="text-main">{{block.settings.about_text_1}}</div>
              </div>
              <div class="item_item">
                <figure>
                  {% assign my_img = block.settings.about_url_2 %}
									{% render 'image-block-svg', my_img: my_img %}
                </figure>
                <div class="text-main">{{block.settings.about_text_2}}</div>
              </div>
              <div class="item_item">
                <figure>
                  {% assign my_img = block.settings.about_url_3 %}
									{% render 'image-block-svg', my_img: my_img %}
                </figure>
                <div class="text-main">{{block.settings.about_text_3}}</div>
              </div>
            </div>
          </div>
        {%- when 'content' -%}
          <div class="item">
            {%- if block.settings.content_title -%}
            <div class="item-heading"><h4 class="text-main">{{block.settings.content_title}}</h4></div>
            {%- endif -%}
            <p class="text-main">{{block.settings.content_text_1}}</p>
          </div>
          
        {%- when 'list' -%}
          <div class="item">
            <div class="item-heading"><h4 class="text-main">{{block.settings.list_title}}</h4></div>
            <ul class="text-main">
              {{block.settings.list_text_1}}
            </ul>
          </div>

        {%- when 'button' -%}
          <div class="item">
            <a href="{{block.settings.content_url}}" class="btn custom-btn">{{block.settings.content_label}}</a>
          </div>

      {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
	{
		"name": "Custom - Dual Banner",
		"tag": "section",
		"class": "wrapper",
		"settings": [
      {
        "type": "checkbox",
        "id": "direction",
        "label": "Reverse Section",
        "default": false
      },
			{
				"type": "image_picker",
				"id": "image_1",
				"label": "Image"
			},
      {
        "type": "select",
        "id": "image_position",
        "label": "Image Postion",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "center",
            "label": "Middle"
          }
        ],
        "default": "center"
      }
		],
    "blocks": [
      {
        "type": "name",
        "name": "Name Information",
        "settings": [
          {
            "type": "color",
            "id": "title_color",
            "label": "Title Color",
            "default": "#1dd8c4"
          },
          {
            "type": "text",
            "id": "name_title",
            "label": "Title",
            "default": "Lorem ipsum"
          },
          {
            "type": "text",
            "id": "name_text_1",
            "label": "Text 1",
            "default": "Lorem ipsum"
          },
          {
            "type": "text",
            "id": "name_text_2",
            "label": "Text 2",
            "default": "Lorem ipsum"
          },
          {
            "type": "text",
            "id": "name_text_3",
            "label": "Text 3",
            "default": "Lorem ipsum"
          }
        ]
      },
      {
        "type": "about",
        "name": "About Us",
        "settings": [
          {
            "type": "text",
            "id": "about_title",
            "label": "About Title",
            "default": "Lorem ipsum"
          },
          {
            "type": "url",
            "id": "about_url_1",
            "label": "Icon Link 1"
          },
          {
            "type": "text",
            "id": "about_text_1",
            "label": "Text 1",
            "default": "Lorem ipsum Dolor"
          },
          {
            "type": "url",
            "id": "about_url_2",
            "label": "Icon Link 2"
          },
          {
            "type": "text",
            "id": "about_text_2",
            "label": "Text 2",
            "default": "Lorem ipsum Dolor"
          },
          {
            "type": "url",
            "id": "about_url_3",
            "label": "Icon Link 3"
          },
          {
            "type": "text",
            "id": "about_text_3",
            "label": "Text 3",
            "default": "Lorem ipsum Dolor"
          }
        ]
      },
      {
        "type": "content",
        "name": "Content",
        "settings": [
          {
            "type": "textarea",
            "id": "content_title",
            "label": "Content Title",
            "default": "Lorem ipsum"
          },
          {
            "type": "textarea",
            "id": "content_text_1",
            "label": "Content Text",
            "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit provident."
          }
        ]
      },
      {
        "type": "button",
        "name": "Button",
        "settings": [
          {
            "type": "url",
            "id": "content_url",
            "label": "Content URL"
          },
          {
            "type": "text",
            "id": "content_label",
            "label": "Content Label",
            "default": "Button Label"
          }
        ]
      },
      {
        "type": "list",
        "name": "List",
        "settings": [
          {
            "type": "text",
            "id": "list_title",
            "label": "List Title",
            "default": "Lorem ipsum"
          },
          {
            "type": "textarea",
            "id": "list_text_1",
            "label": "List Content",
            "default": "<li>Lorem ipsum dolor sit.</li><li>Lorem ipsum dolor sit.</li>"
          }
        ]
      }
    ],
		"presets": [
			{
				"name":"Custom - Dual Banner"
      }
		]
	}
{% endschema %}