<div id="hero-1-{{ section.id }}" class="hero-1">
  <style>
    #hero-1-{{ section.id }} span {
      background-color: {{ section.settings.highlight_color }};
      color: {{ section.settings.highlight_text_color }};
      padding: 0 5px;
    }
  </style>
  <div class="container {{section.settings.section_width}}" style="background-color: {{section.settings.bg_color}};">
    <div class="col flex-main flex-center p-small">
      <div class="content-wrapper p-small">

        {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'caption' -%}
            <h6 class="caption text-main" style="font-weight:bold; color:{{section.settings.caption_color}};">{{block.settings.caption_1}}</h6>
          {%- when 'title' -%}
            <h4 class="block-title text-subtitle" style="color:{{section.settings.title_color}};">{{block.settings.title_1}}</h4>
          {%- when 'link' -%}
            <a href="{{block.settings.button_url}}" class="btn custom-btn">{{block.settings.button_label}}</a>
        {%- endcase -%}
        {%- endfor -%}

      </div>
    </div>
    {%- if section.settings.bg_image != blank -%}
    <div class="bgimage" style="opacity: {{section.settings.bg_opacity}};">
      {% assign my_img = section.settings.bg_image %}
      {% render 'image-block', my_img: my_img %}
    </div>
    {%- endif -%}
  </div>
</div>


{% schema %}
	{
		"name": "Custom - Single Banner",
		"tag": "section",
		"class": "wrapper",
		"settings": [
      {
        "type": "select",
        "id": "section_width",
        "label": "Section Width",
        "options": [
          {
            "value": "page-full",
            "label": "Full Width"
          },
          {
            "value": "page-width",
            "label": "Boxed"
          }
        ],
        "default": "page-width"
      },
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Background Image"
      },
      {
        "type": "range",
        "id": "bg_opacity",
        "min": 0,
        "max": 1,
        "step": 0.1,
        "label": "Font size",
        "default": 1,
        "label": "Background Opacity"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color"
      },
      {
        "type": "header",
        "content": "Sections Options"
      },
      {
        "type": "color",
        "id": "caption_color",
        "label": "Caption Color"
      },
      {
        "type": "color",
        "id": "title_color",
        "label": "Title Color"
      },
      {
        "type": "color",
        "id": "highlight_color",
        "label": "Highlight Color"
      },
      {
        "type": "color",
        "id": "highlight_text_color",
        "label": "Highlight Color"
      }
		],
    "blocks": [
      {
        "type": "caption",
        "name": "caption",
        "limit": 1,
        "settings": [
          {
            "type": "textarea",
            "id": "caption_1",
            "label": "Caption",
            "default": "Lorem ipsum"
          }
        ]
      },
      {
        "type": "title",
        "name": "title",
        "limit": 1,
        "settings": [
          {
            "type": "textarea",
            "id": "title_1",
            "label": "Caption",
            "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit provident."
          }
        ]
      },
      {
        "type": "link",
        "name": "link",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "button_label",
            "label": "Button Label",
            "default": "Button Label"
          },
          {
            "type": "text",
            "id": "button_url",
            "label": "Button Url",
            "default": "Button Link"
          }
        ]
      }
    ],
		"presets": [
			{
				"name":"Custom - Single Banner",
        "blocks": [
          {
            "type": "caption"
          },
          {
            "type": "title"
          },
          {
            "type": "link"
          }
        ]
      }
		]
	}
{% endschema %}
