<div id="block-33-{{ section.id }}" class="block-33 custom-dual-banner">
<div class="bg-wrapper">
  {%- if section.settings.direction -%}
  <div class="container page-width grid-main grid-2 gap-40 content-con reversed">
  {%- else -%}
  <div class="container page-width grid-main grid-2 gap-40 content-con">
  {%- endif -%}
    <div class="col block-one">
      {%- if section.settings.content_type == "image" -%}
      <figure class="{{section.settings.image_position}}">
        {% assign my_img = section.settings.image_1 %}
        {% render 'image-block', my_img: my_img %}
      </figure>
      {%- else -%}
        <div class="html-content">{{ section.settings.html_content }}</div>
      {%- endif -%}
    </div>
    <div class="col block-two flex-inner flex-center">
      <div class="item-block">
      {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'name' -%}
          <div class="item">
            <div class="item-heading"><h4 class="text-subtitle name" style="color:{{block.settings.title_color}};">{{block.settings.name_title}}</h4></div>
            {%- if block.settings.name_text_1 != blank -%}
            <div class="item-child">
            <p class="text-main gender {{block.settings.name_text_1_class}}">{{block.settings.name_text_1}}</p>
            </div>{%- endif -%}
            {%- if block.settings.name_text_2 != blank -%}
            <div class="item-child">
              <p class="text-main role">{{block.settings.name_text_2}}</p>
            </div>{%- endif -%}
            {%- if block.settings.name_text_3 != blank -%}
            <div class="item-child">
              <p class="text-main bodypart {{block.settings.name_text_3_class}}">{{block.settings.name_text_3}}</p>
            </div>{%- endif -%}
          </div>
        {%- when 'about' -%}
          <div class="item">
            <div class="item-heading"><h4 class="text-main">{{block.settings.about_title}}</h4></div>
            <div class="item-content flex-main">
              <div class="item_item">
                <figure>
                  {% assign my_img = block.settings.about_url_1 %}
									{% render 'image-block-svg', my_img: my_img %}
                </figure>
                <div class="text-main">{{block.settings.about_text_1}}</div>
              </div>
              <div class="item_item">
                <figure>
                  {% assign my_img = block.settings.about_url_2 %}
									{% render 'image-block-svg', my_img: my_img %}
                </figure>
                <div class="text-main">{{block.settings.about_text_2}}</div>
              </div>
              <div class="item_item">
                <figure>
                  {% assign my_img = block.settings.about_url_3 %}
									{% render 'image-block-svg', my_img: my_img %}
                </figure>
                <div class="text-main">{{block.settings.about_text_3}}</div>
              </div>
            </div>
          </div>
        {%- when 'content' -%}
          <div class="item">
            {%- if block.settings.content_title -%}
            <div class="item-heading"><h4 class="text-main">{{block.settings.content_title}}</h4></div>
            {%- endif -%}
            <p class="text-main">{{block.settings.content_text_1}}</p>
          </div>
          
        {%- when 'list' -%}
          <div class="item">
            <div class="item-heading"><h4 class="text-main">{{block.settings.list_title}}</h4></div>
            <ul class="text-main">
              {{block.settings.list_text_1}}
            </ul>
          </div>

        {%- when 'html' -%}
          <div class="item">
            <div class="html_item">
              {{block.settings.custom_html}}
            </div>
          </div>
          
        {%- when 'details' -%}
          <div class="item tab_items">
            <!-- Tab links -->
            <div class="tab">
              <button class="tablinks" onclick="openTab(event, 't_one')"  id="default">{{block.settings.tab1_heading}}</button>
              <button class="tablinks" onclick="openTab(event, 't_two')">{{block.settings.tab2_heading}}</button>
              <button class="tablinks" onclick="openTab(event, 't_three')">{{block.settings.tab3_heading}}</button>
            </div>

            <!-- Tab content -->
            <div id="t_one" class="tabcontent">
              <p>{{block.settings.tab1_summary}}</p>
            </div>

            <div id="t_two" class="tabcontent">
              <p>{{block.settings.tab2_summary}}</p>
            </div>

            <div id="t_three" class="tabcontent">
              <p>{{block.settings.tab3_summary}}.</p>
            </div>
          </div>

        {%- when 'button' -%}
          <div class="item"><a href="{{block.settings.content_url}}" class="btn custom-btn">
            {%- if section.settings.button_icon -%}
            <i class="{{section.settings.button_icon}}"></i>&nbsp;
            {%- endif -%}
            {{block.settings.content_label}}</a>
          </div>

      {%- endcase -%}
      {%- endfor -%}
      </div>
    </div>
  </div>
  {%- if section.settings.bg_image != blank -%}
  <div class="bgimage">
    {% render 'image-block', my_img: section.settings.bg_image %}
  </div>
  {%- endif -%}
</div>
</div>

{% schema %}
	{
		"name": "Custom - Dual Banner",
		"tag": "section",
		"class": "wrapper",
		"settings": [
      {
        "type": "header",
        "content": "Section Settings"
      },
      {
        "type": "checkbox",
        "id": "direction",
        "label": "Reverse Section",
        "default": false
      },
      {
        "type": "select",
        "id": "content_type",
        "label": "Content Type",
        "options": [
          {
            "value": "image",
            "label": "Image"
          },
          {
            "value": "html",
            "label": "HTML"
          }
        ],
        "default": "image"
      },
			{
				"type": "header",
				"content": "Content Settings"
			},
      {
        "type": "html",
        "id": "html_content",
        "label": "HTML Content"
      },      
			{
				"type": "image_picker",
				"id": "image_1",
				"label": "Image"
			},
      {
        "type": "select",
        "id": "image_position",
        "label": "Image Postion",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "center",
            "label": "Middle"
          }
        ],
        "default": "top"
      },
			{
				"type": "header",
				"content": "Background Settings"
			},
			{
				"type": "image_picker",
				"id": "bg_image",
				"label": "Background Image"
			}
		],
    "blocks": [
      {
        "type": "name",
        "name": "Name Information",
        "settings": [
          {
            "type": "color",
            "id": "title_color",
            "label": "Title Color",
            "default": "#1dd8c4"
          },
          {
            "type": "text",
            "id": "name_title",
            "label": "Title",
            "default": "Lorem ipsum"
          },
          {
            "type": "text",
            "id": "name_text_1",
            "label": "Text 1",
            "default": "Lorem ipsum"
          },
          {
            "type": "text",
            "id": "name_text_1_class",
            "label": "Sign"
          },
          {
            "type": "text",
            "id": "name_text_2",
            "label": "Text 2",
            "default": "Lorem ipsum"
          },
          {
            "type": "text",
            "id": "name_text_3",
            "label": "Text 3",
            "default": "Lorem ipsum"
          },
          {
            "type": "text",
            "id": "name_text_3_class",
            "label": "Sign"
          }
        ]
      },
      {
        "type": "about",
        "name": "About Us",
        "settings": [
          {
            "type": "text",
            "id": "about_title",
            "label": "About Title",
            "default": "Lorem ipsum"
          },
          {
            "type": "url",
            "id": "about_url_1",
            "label": "Icon Link 1"
          },
          {
            "type": "text",
            "id": "about_text_1",
            "label": "Text 1",
            "default": "Lorem ipsum Dolor"
          },
          {
            "type": "url",
            "id": "about_url_2",
            "label": "Icon Link 2"
          },
          {
            "type": "text",
            "id": "about_text_2",
            "label": "Text 2",
            "default": "Lorem ipsum Dolor"
          },
          {
            "type": "url",
            "id": "about_url_3",
            "label": "Icon Link 3"
          },
          {
            "type": "text",
            "id": "about_text_3",
            "label": "Text 3",
            "default": "Lorem ipsum Dolor"
          }
        ]
      },
      {
        "type": "content",
        "name": "Content",
        "settings": [
          {
            "type": "textarea",
            "id": "content_title",
            "label": "Content Title",
            "default": "Lorem ipsum"
          },
          {
            "type": "textarea",
            "id": "content_text_1",
            "label": "Content Text",
            "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit provident."
          }
        ]
      },
      {
        "type": "details",
        "name": "Details",
        "settings": [
          {
            "type": "textarea",
            "id": "tab1_heading",
            "label": "Tab 1 Heading",
            "default": "Lorem Ipsum"
          },
          {
            "type": "textarea",
            "id": "tab1_summary",
            "label": "Tab 1 Summary",
            "default": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit, id!"
          },
          {
            "type": "textarea",
            "id": "tab2_heading",
            "label": "Tab 2 Heading",
            "default": "Lorem Ipsum"
          },
          {
            "type": "textarea",
            "id": "tab2_summary",
            "label": "Tab 2 Summary",
            "default": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit, id!"
          },
          {
            "type": "textarea",
            "id": "tab3_heading",
            "label": "Tab 3 Heading",
            "default": "Lorem Ipsum"
          },
          {
            "type": "textarea",
            "id": "tab3_summary",
            "label": "Tab 3 Summary",
            "default": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit, id!"
          }
        ]
      },
      {
        "type": "button",
        "name": "Button",
        "settings": [
          {
            "type": "text",
            "id": "content_label",
            "label": "Content Label",
            "default": "Button Label"
          },
          {
            "type": "url",
            "id": "content_url",
            "label": "Content URL"
          },
          {
            "type": "text",
            "id": "button_icon",
            "label": "Font Awesome Icon",
            "info": "Ex. fas fa-user"
          }
        ]
      },
      {
        "type": "html",
        "name": "HTML",
        "settings": [
          {
            "type": "html",
            "id": "custom_html",
            "label": "HTML Content"
          }
        ]
      },
      {
        "type": "list",
        "name": "List",
        "settings": [
          {
            "type": "text",
            "id": "list_title",
            "label": "List Title",
            "default": "Lorem ipsum"
          },
          {
            "type": "textarea",
            "id": "list_text_1",
            "label": "List Content",
            "default": "<li>Lorem ipsum dolor sit.</li><li>Lorem ipsum dolor sit.</li>"
          }
        ]
      }
    ],
		"presets": [
			{
				"name":"Custom - Dual Banner"
      }
		]
	}
{% endschema %}